/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*---------------------------------------------------*/

:root{
    --spacer: 1rem;
    --font-size-base: 1rem;
    --bs-gray-dark: #2929296b;
}

body{
    background-color: #141414;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-weight: 100;
    min-height: 100%;
}

a{
    color: white;
}

/*---- position -----*/
.position-relative{
    position: relative !important;
}
.position-absolute{
    position: absolute !important;
}
.position-static{
    position: static !important;
}
.position-fixed{
    position: fixed !important;
}
.position-sticky{
    position: sticky !important;
}
/*----------------------*/

.bottom-0{
    bottom: 0 !important;
}

/*---- display -----*/
.d-inline-flex{
    display: inline-flex !important;
}
.d-flex{
    display: flex !important;
}
/*----------------------*/

/*---- width -----*/
.w-25{
    width: 25% !important;
}
.w-50{
    width: 50% !important;
}
.w-75{
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}
/*----------------------*/

/*---- width -----*/
.mw-25{
    min-width: 25% !important;
}
.mw-50{
    min-width: 50% !important;
}
.mw-75{
    min-width: 75% !important;
}
.mw-100{
    min-width: 100% !important;
}


/*---- height -----*/
.h-25{
    height: 25% !important;
}
.h-50{
    height: 50% !important;
}
.h-75{
    height: 75% !important;
}
.h-100{
    height: 100% !important;
}
/*----------------------*/

.mh-25{
    min-height: 25% !important;
}
.mh-50{
    min-height: 50% !important;
}
.mh-75{
    min-height: 75% !important;
}
.mh-100{
    min-height: 100% !important;
}

.flex-md-order-none {
    order: inherit !important;
}
.flex-md-row {
    flex-direction: row !important;
}
.flex-md-column {
    flex-direction: column !important;
}

/*---- padding -----*/
.p-0{
    padding: 0 !important;
}
.p-1{
    padding: calc(var(--spacer) * .25) !important;
}
.p-2{
    padding: calc(var(--spacer) * .5) !important;
}
.p-3{
    padding: var(--spacer) !important;
}
.p-4{
    padding: calc(var(--spacer) * 1.5) !important;
}
.p-5{
    padding: calc(var(--spacer) * 3) !important;
}
/*----------------------*/

.px{

}

/*---- font-size -----*/
.fs-1{
    font-size: calc(var(--font-size-base) * 2.5) !important;
}
.fs-2{
    font-size: calc(var(--font-size-base) * 2) !important;
}
.fs-3{
    font-size: calc(var(--font-size-base) * 1.75) !important;
}
.fs-4{
    font-size: calc(var(--font-size-base) * 1.5) !important;
}
.fs-5{
    font-size: calc(var(--font-size-base) * 1.25) !important;
}
.fs-6{
    font-size: var(--font-size-base) !important;
}
/*----------------------*/

.text-uppercase{
    text-transform: uppercase;
}

/*---- text-align -----*/
.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.text-justify{
    text-align: justify;
}
/*----------------------*/

/*---- justify-content -----*/
.justify-content-center{
    justify-content: center;
}
/*----------------------*/

/*---- margin -----*/
.me-auto{
    margin-right: auto !important;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-auto{
    margin-top: auto !important;
}
.mt-0{
    margin-top: 0 !important;
}
.mt-1{
    margin-top: calc(var(--spacer) * .25) !important;
}
.mt-2{
    margin-top: calc(var(--spacer) * .5) !important;
}
.mt-3{
    margin-top: var(--spacer) !important;
}
.mt-4{
    margin-top: calc(var(--spacer) * 1.5) !important;
}
.mt-5{
    margin-top: calc(var(--spacer) * 3) !important;
}

.mx-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mx-1{
    margin-left: calc(var(--spacer) * .25) !important;
    margin-right: calc(var(--spacer) * .25) !important;
}
.mx-2{
    margin-left: calc(var(--spacer) * .5) !important;
    margin-right: calc(var(--spacer) * .5) !important;
}
.mx-3{
    margin-left: var(--spacer) !important;
    margin-right: var(--spacer) !important;
}
.mx-4{
    margin-left: calc(var(--spacer) * 1.5) !important;
    margin-right: calc(var(--spacer) * 1.5) !important;
}
.mx-5{
    margin-left: calc(var(--spacer) * 3) !important;
    margin-right: calc(var(--spacer) * 3) !important;
}

.my-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.my-1{
    margin-top: calc(var(--spacer) * .25) !important;
    margin-bottom: calc(var(--spacer) * .25) !important;
}
.my-2{
    margin-top: calc(var(--spacer) * .5) !important;
    margin-bottom: calc(var(--spacer) * .5) !important;
}
.my-3{
    margin-top: var(--spacer) !important;
    margin-bottom: var(--spacer) !important;
}
.my-4{
    margin-top: calc(var(--spacer) * 1.5) !important;
    margin-bottom: calc(var(--spacer) * 1.5) !important;
}
.my-5{
    margin-top: calc(var(--spacer) * 3) !important;
    margin-bottom: calc(var(--spacer) * 3) !important;
}

.m-0{
    margin: 0 !important;
}
.m-1{
    margin: calc(var(--spacer) * .25) !important;
}
.m-2{
    margin: calc(var(--spacer) * .5) !important;
}
.m-3{
    margin: var(--spacer) !important;
}
.m-4{
    margin: calc(var(--spacer) * 1.5) !important;
}
.m-5{
    margin: calc(var(--spacer) * 3) !important;
}
/*----------------------*/

.rounded-circle {
    border-radius: 50% !important;
}


.flex-center-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
}
.footer-item{
    margin-right: 16px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.overflow-auto{
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}

.object-fit-cover{
    object-fit: cover;
}

/* Link */
.link{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s
}
.link:hover{
    background-size: 100% 1px;
}
/* ------------------------- */

/* Header */
.header{
    background-color: var(--bs-gray-dark);
    height: 54px;
    display: flex;
    padding: 10px;
}
.header-item{
    margin-right: 16px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-transform: uppercase;
}
/*---------------------*/

.logo{
    color: white;
    font-size: 34px;
    font-weight: 100;
}


/* блок загрузки */
.loading{
    position: fixed;
    top: 50%;
    left: 50%;
}
.loading .loading-text{
    text-align: center;
}
.loading .loading-dots{
    clip-path: inset(0 6ch 0 0);
    animation: l 1s steps(5) infinite;
    text-align: center;
  }
  
  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }
/*---------------------*/

/* анимация загрузки */
@-webkit-keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading-spinner {
    width: 34px;
    height: 34px;
    margin-top: 15px;
}
.loading-spinner:after, .loading-spinner:before {
    content: "";
    position: fixed;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}
.loading-spinner:after {
    -webkit-animation: loading-spinner 2.5s linear infinite;
            animation: loading-spinner 2.5s linear infinite;
    margin-left: 7px;
    margin-top: 7px;
}
.loading-spinner:before {
    width: 54px;
    height: 54px;
    -webkit-animation: loading-spinner 2.5s linear infinite;
            animation: loading-spinner 2.5s linear infinite;
    animation-direction: reverse;
}
/*-------------------------------------------------*/

.img{
    max-width: var(--img-width, 800px);
    max-height: var(--img-height, 800px);
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.img--small {
    --img-width: 50px;
    --img-height: 50px;
}
.img--normal {
    --img-width: 600px;
    --img-height: 600px;
}

.bg-gray-dark{
    background-color: var(--bs-gray-dark);
}